@model CategoryVM
@{
    ViewData["Title"] = "Add Category";
}

<form asp-action="Create" data-ajax-method="post"
      data-ajax="true"
      data-ajax-success="onModalSuccess"
      data-ajax-failure="showErrorMessage">
    <input type="text" class="form-control" asp-for="Name" placeholder="Name">
    <span class="text-danger mb-5" asp-validation-for="Name"></span>

    <partial name="_ModalFotter" />
</form>
