@model CategoryVM
@{
    ViewData["Title"] = "Add Categories";
}

<div class="card card-custom">
    <div class="card-header">
        <div class="card-title">
            <span class="card-icon">
                <i class="flaticon2-chat-1 text-primary"></i>
            </span>
            <h3 class="card-label">Add Categories</h3>
        </div>
    </div>
    <div class="card-body">
        <form method="post" asp-controller="Categories" asp-action="Create">
            <div class="row">
                <div class="col-md-4 mb-3">
                    <label asp-for="Name" class="form-label">Category Name</label>
                    <input type="text" class="form-control" asp-for="Name">
                </div>
                <span class="text-danger mb-5" asp-validation-for="Name"></span>
            </div>
            <button type="submit" class="btn btn-md btn-primary px-4 mt-1 ">
                <i class="bi bi-check-lg p-0"></i> Save
            </button>
        </form>
    </div>
</div>

@section scripts
    {
    <partial name="_ValidationScriptsPartial" />
}
