@model UserFormVM

<form asp-action="Create" data-ajax-method="post"
      data-ajax="true"
      data-ajax-begin="onModalBegin"
      data-ajax-success="onModalSuccess"
      data-ajax-failure="onModalfailure"
      data-ajax-complete="onModalFinish">

    <div class="form-floating mb-5 col-8">
        <input type="text" class="form-control form-control-solid" value="" placeholder="Full Name" asp-for="FullName" />
        <label asp-for="FullName"></label>
        <span asp-validation-for="FullName" class="text-danger"></span>
    </div>
    <div class="form-floating mb-5 col-8">
        <input type="text" class="form-control form-control-solid" value="" placeholder="User Name" asp-for="UserName" autocomplete="off" />
        <label asp-for="UserName"></label>
        <span asp-validation-for="UserName" class="text-danger"></span>
    </div>
     <div class="form-floating mb-5 col-8">
        <input type="text" class="form-control form-control-solid" value="" placeholder="Email" asp-for="Email" autocomplete="off" />
        <label asp-for="Email"></label>
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-floating mb-5 col-8">
        <input type="text" class="form-control form-control-solid" value="" placeholder="Phone" asp-for="PhoneNumber" />
        <label asp-for="PhoneNumber"></label>
        <div class="form-text">
            <span class="d-block">Ex: 01522133555 ,01023411526</span>
        </div>
        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
    </div>

    <div class="form-floating mb-5 col-8 position-relative">
        <input type="password" asp-for="Password" class="form-control form-control-solid" id="password" placeholder="Password" autocomplete="off" />
       @* <div class="position-absolute translate-middle-y top-50 end-0 me-3">
            <i class="bi bi-eye-slash-fill fs-1" id="togglePassword" style="cursor: pointer"></i>
        </div>*@
        <label asp-for="Password"></label>
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <div class="form-floating mb-5 col-8">
        <input type="password" class="form-control form-control-solid" value="" placeholder="Confirm Password" asp-for="ConfirmPassword" autocomplete="off" />
        <label asp-for="ConfirmPassword"></label>
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>

    <div class="form-floating mb-5 col-8">
        <select data-control="select2" data-placeholder="Select Roles" class="form-select form-select-solid js-select2" asp-for="Roles" asp-items="@Model.SelectedRoles">
        </select>
        <label asp-for="Roles"></label>
        <span asp-validation-for="Roles" class="text-danger"></span>
    </div>

    <partial name="_ModalFotter" />
</form>