@model PasswordVM

<form asp-controller="Users" asp-action="UpdatePassword" data-ajax-method="post"
      data-ajax="true"
      data-ajax-begin="onModalBegin"
      data-ajax-success="onModalSuccess"
      data-ajax-failure="onModalfailure"
      data-ajax-complete="onModalFinish">

    <div class="form-floating mb-5 col-8 position-relative">
        <input type="password" asp-for="CurrentPassword" class="form-control form-control-solid" placeholder="Current Password" />
        <label asp-for="CurrentPassword"></label>
        <span asp-validation-for="CurrentPassword" class="text-danger"></span>
    </div>
    <div class="form-floating mb-5 col-8 position-relative">
        <input type="password" asp-for="NewPassword" class="form-control form-control-solid" placeholder="New Password" />
        <label asp-for="NewPassword"></label>
        <span asp-validation-for="NewPassword" class="text-danger"></span>
    </div>
    <div class="form-floating mb-5 col-8">
        <input type="password" class="form-control form-control-solid" value="" placeholder="Confirm Password" asp-for="ConfirmNewPassword" />
        <label asp-for="ConfirmNewPassword"></label>
        <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
    </div>

    <input type="hidden" asp-for="UserId" />
    <partial name="_ModalFotter" />
</form>