@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

@*<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">You do not have access to this resource.</p>
</header>*@

<div class="d-flex flex-column flex-root">
	<!--begin::Authentication - 404 Page-->
	<div class="d-flex flex-column flex-center flex-column-fluid p-10">
		<!--begin::Illustration-->
		<img src="~/assets/images/401.svg" alt="" class="mw-100 h-lg-450px" />
		<!--end::Illustration-->
		<!--begin::Message-->
		<h1 class="fw-bold mb-10" style="color: #A3A3C7">You do not have access to this page.</h1>
		<!--end::Message-->
		<!--begin::Link-->
		<a asp-controller="Home" asp-action="Index" class="btn btn-primary">Return Home</a>
		<!--end::Link-->
	</div>
	<!--end::Authentication - 404 Page-->
</div>
