@model BookFormVM

@{
    ViewData["Title"] = "Books";
}

<div class="card card-custom">
    <div class="card-header ps-3">
        <div class="card-title">
            <h3 class="card-label ms-5 fs-3">Add Book</h3>
        </div>
    </div>
    <div class="card-body">
        <form asp-controller="Books" asp-action="Create" method="post" enctype="multipart/form-data">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-4">
                    <div class="form-floating mb-5">
                        <input type="text" class="form-control form-control-solid" placeholder="Title" asp-for="Title" />
                        <label asp-for="Title"></label>
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-5">
                        <select data-control="select2" data-placeholder="Select Author" class="form-select form-select-solid" asp-for="AuthorId" asp-items="@Model.Authors">
                            <option value="">Select Author</option>
                        </select>
                        <label asp-for="AuthorId"></label>
                        <span asp-validation-for="AuthorId" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-5">
                        <input asp-for="ImageUrl" placeholder="ImageUrl" class="form-control form-control-solid" accept=".jpg,.jpeg,.png"
                               onchange="document.getElementById('js-Img').src=window.URL.createObjectURL(this.files[0])" />
                        <label asp-for="ImageUrl"></label>
                        <span asp-validation-for="ImageUrl" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-5">
                        <select data-control="select2" data-placeholder="Select Categories" class="form-select form-select-solid" asp-for="SelectedCategories" asp-items="@Model.Categories">
                        </select>
                        <label asp-for="SelectedCategories"></label>
                        <span asp-validation-for="SelectedCategories" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-5">
                        <input asp-for="Publisher" placeholder="Publisher" class="form-control form-control-solid" />
                        <label asp-for="Publisher"></label>
                        <span asp-validation-for="Publisher" class="text-danger"></span>
                    </div>
                    <div class="form-check form-switch mt-5 mb-5">
                        <label asp-for="IsAvailableForRental" class="form-check-label"></label>
                        <input type="checkbox" asp-for="IsAvailableForRental" class="form-check-input" />
                        <span asp-validation-for="IsAvailableForRental" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-5">
                        <input asp-for="Hall" placeholder="Hall" class="form-control form-control-solid" />
                        <label asp-for="Hall"></label>
                        <span asp-validation-for="Hall" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-5">
                        <input type="date" asp-for="PublishingDate" placeholder="PublishingDate" class="form-control form-control-solid" />
                        <label asp-for="PublishingDate"></label>
                        <span asp-validation-for="PublishingDate" class="text-danger"></span>
                    </div>
                    <div class="form-group mt-10">
                        <button type="submit" class="btn btn-primary me-2">
                            <span class="indicator-label">Save</span>
                            <span class="indicator-progress">
                                Please wait... <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                            </span>
                        </button>
                        <a asp-action="Index" class="btn btn-secondary">Cancel</a>
                    </div>

                </div>
                <div class="col-1">
                </div>
                <div class="col">
                    <div class="col-1 mb-3">
                        <img src="~/Images/default-no-image.png" id="js-Img" class="image-input-wrapper w-200px h-250px" />
                    </div>
                    <div class="form-text">
                        <span class="d-block">Image must be less than 2MB</span>
                        <span>Allowed Extensions: jpg , jpeg , png</span>
                    </div>
                    <div class="form-floating col-9 mt-5">
                        <textarea id="kt_docs_tinymce_basic" asp-for="Description" placeholder="Description" class="tox-target">                       
                        </textarea>
                        <label asp-for="Description"></label>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>

@section CustomScripts{
    <script src="~/assets/plugins/tinymce/tinymce.bundle.js"></script>
}
@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}
