@model Subscription
<tr>
    <td>
        @Model.StartDate.ToString("dd-MMM-yyyy")
    </td>
    <td>
        @Model.EndDate.ToString("dd-MMM-yyyy")
    </td>
    <td>
        
    </td>
    <td>
        @Model.CreatedOn
    </td>
</tr>